#containerGrid {    
    display: grid;
    grid-template-areas: 
                         "group       chat       participantes      "
                         "group       chat       participantes      "
    ;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 3vh;
    grid-template-columns: 1fr 6fr 1fr;
    grid-column-gap: 0.5vw;
}

#gridChat {
    grid-area: chat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 5vh;
    height: 80vh;
}

#gridGroup {
    grid-area: group;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 5vh;
    height: 80vh;
}

#gridParticipantes {
    grid-area: participantes;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 5vh;
    height: 80vh;
    border-left: 1px solid white;
}

#scrollMessagens{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 65vh;
    overflow-y: auto;
}

#scrollMembers{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 60vh;
    overflow-y: auto;
}
 ::-webkit-scrollbar { width: 0.5vw; } 
 ::-webkit-scrollbar-track { border-radius: 5px; background: transparent } 
 ::-webkit-scrollbar-thumb { border-radius: 5px; background: #d6dee1 } 
 ::-webkit-scrollbar-thumb:hover { background: #d6dee1 }

.mensageContainer{
    padding: 10px;
    border-radius: 20px;
    background-color: #2D3033;
    align-items: 'flex-start';
    margin: 15px 3px 15px 3px;
    width: 40%;
}

.owner {
    background-color: #774397;
    align-self: flex-end;
}

.MessagesIsntOwner{
    display: flex;
    margin: 5px 5px 5px 5px;
}

.MessagesOwner {
    display: flex;
    margin: 5px 10px 5px 5px;
    justify-content: flex-end;
}
.time{
    color: #A4A4A4;
    font-size: 14px;
    font-weight: 100;
    margin-top: 20px;
    margin-left: 15px;
}
.message {
    color: #B3B3B3;
    margin-top: 10px;
    margin-left: 5px;
    align-self: center;
    width: 97%;
    line-break: normal;
    word-break: break-all;
}

#alignCenter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 10px 0;
}

.messageInputContainer {
    display: flex; 
    flex-direction: row; 
    align-items: center;
    position: absolute;
    bottom: 20px;
    width: 60%;
    border-radius: 10px;
    background-color: white;
    font-size: 16px;
    height: 48px;
    padding-left: 10px;
}

.messageInputContainer button {
    background-color: transparent;
    border: none;
}

.messageInputContainer input {
    width: 96%;
    border: none;
}

.messageInputContainer input:focus {
    border: none;
    outline: none;
}

#CreateGroup{
    margin-top: 20px;
    align-self: center;
    cursor: pointer;
    padding: 10px 25px 10px 25px;
    background-color: #774397;
    border-radius: 10px;
    font-size: 15px;

}
@media only screen and (max-width: 1400px) {
    #CreateGroup{
        padding: 5px 15px 5px 15px;
        font-size: 11px;
    }
}