#containerGrid {    
    display: grid;
    grid-template-areas: 
                         "group       chat       participantes      "
                         "group       chat       participantes      "
    ;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 3vh;
    grid-template-columns: 1fr 4.5fr 1fr;
    grid-column-gap: 0.5vw;
}

#gridChat {
    grid-area: chat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 5vh;
    height: 80vh;
}

#gridGroup {
    grid-area: group;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 5vh;
    height: 80vh;
}

#gridParticipantes {
    grid-area: participantes;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 5vh;
    height: 80vh;
    border-left: 1px solid white;
}

#scroll{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#mensageContainer{
    padding: 10px;
    border-radius: 20px;
    background-color: #2D3033;
    align-items: 'flex-start';
    margin: 15px 3px 15px 3px;
    width: 40%;
}

#mensageContainer2{
    padding: 10px;
    border-radius: 20px;
    background-color: #774397;
    align-items: 'flex-end';
    justify-content: flex-end;
    margin: 15px 3px 15px 3px;
    width: 40%;
}
#MessagesIsntOwner{
    display: flex;
    margin: 5px 5px 5px 5px;
}

#MessagesOwner {
    display: flex;
    margin: 5px 10px 5px 5px;
    justify-content: flex-end;
}
#time{
    color: #A4A4A4;
    font-size: 14px;
    font-weight: 100;
    margin-top: 20px;
    margin-left: 15px;
}
#message {
    color: #B3B3B3;
    margin-top: 10px;
    margin-left: 5px;
    align-self: center;
}

#alignCenter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 10px 0;
}

#input{
    width: 100%;
    border-radius: 10px;
    background-color: white;
    align-self: center;
    height: 48px;
    font-size: 16px;
    padding-left: 10px;
}
#absoluteInput {
    position: absolute;
    bottom: 20px;
    width: 60%;
}