/* Global */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
}

/* Header */
header {
    display: flex;
    margin-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#nav-title {
    margin-right: auto;
    font-size: 1.5em;
}

body {
    background-color: #23272A;
    color: white;
}

#filmes {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    margin-top: 40px;
  }
  
  #filmes td, #filmes th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #filmes tr:nth-child(even){background-color: #f2f2f2;}
  
  #filmes tr:hover {background-color: #ddd;}
  
  #filmes th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  #imageGroup {
    width: 80px;
    height: 80px;
    background-position: center;
    background-size: cover;
    transition: all ease 0.2s;
    border-radius: 45px;
    @media(max-width: 1400px){
      width: 60px;
      height: 60px;
    }
}