<!DOCTYPE html>
<html lang="en">

<%- include('includes/head') %>

<body>

    <%- include('includes/navbar') %>    

    <% if (user) { %>
      <h1>Bem vind@ <%= user.nome %></h1>
    <% } %>

    <h1>Lista de todos os filmes</h1>

    <% if (grupos) { %>
      <% grupos.map(item => { %>
        <p><% item.nome %></p>
      <% }); %>
    <% } %>

</body>

</html>