<!DOCTYPE html>
<html lang="en">

<%- include('includes/head') %>

<body>

    <%- include('includes/navbar') %>    

    <h2 style="margin-left: 20px;">Seus grupos</h2>
    <div>
    <% if (grupos) { %>
      <% grupos.map(item => { %>
        <div style="margin-top: 30px;">
        <div style="margin-left: 20px; background-image: url('<%- item.imagem %>');" class="imageGroup-<% item.id %>" id="imageGroup" >
        <p  style="margin-left: 120px; position: absolute; align-self: center;""><%= item.nome %></p>
      </div>
      <% }); %>
    <% } %>
  </div>

</body>

</html>